.title {
  text-align: left;
  /* margin-left: 1.7%; */
  font-size: 45px;
  font-size: 3.5rem;
  color: black;
  font-family: "Zilla Slab",Inter,X-LocaleSpecific,sans-serif;
}

/* .center-body {
  margin: 1% 1% 0% 1%;
} */

@media(max-width:767px) {
  .title {
    text-align: center;
  }
}