.education-jumbo {
  margin: 0px 35px 35px 35px;
  padding: 0.25rem;
  color: white;
}

li {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  list-style-type: none;
  width: 100px;
  background: white;
  border-radius: 10%;
  margin: 0.5%;
}

.col {
  margin: auto;
}

.grad-center {
  font-size: 5rem;
  color: white;
}

.jumbotron {
  background-color: #212121;
}
