.card-body {
  text-align: left; /* To exit card-center */
}

a.card-style {
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:hover .card-title {
  color: #000000;
  text-decoration: underline;
}

.card-img-top {
  width: 100%;
  height: 15em;
  object-fit: cover;
}
