.countdown-banner {
  margin: 0px 35px 35px 35px;
  padding: 0.75rem;
}

li {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  list-style-type: none;
  width: 100px;
  background: white;
  border-radius: 10%;
  margin: 0.5%;
}

.col.time {
  margin: auto;
}

ul {
  margin-top: auto;
  margin-bottom: auto;
}

.timetest {
  display: block;
  font-size: 3rem;
}

.grad-center {
  font-size: 5rem;
  color: white;
}

.jumbotron {
  background-color: #212121;
}
